<nav>
    <div class="logo">
        <span class="check">✅</span>
        <span class="text">TODO</span>
    </div>

    <div class="links">
        {% if user.is_authenticated %}
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'add' %}" class="add">+ Add</a>
            <a href="{% url 'completed' %}">Completed</a>
            <a href="{% url 'trash' %}">Trash</a>
            <a href="{% url 'profile' %}">Profile</a>
            <a href="{% url 'about' %}">About</a>
            <div class="sep"></div>
            <a href="{% url 'logout_' %}" class="logout">Logout</a>
        {% else %}
            <a href="{% url 'register' %}" class="register">Register</a>
            <a href="{% url 'about' %}">About</a>
            <div class="sep"></div>
            <a href="{% url 'login_' %}" class="login">Login</a>
        {% endif %}
    </div>
</nav>